In [1]:
## Data Preparation File
## Group 14

In [1]:
import pandas as pd

In [7]:
roads = pd.read_csv('_roads3.csv')
N1_fr = roads[roads['road'] == 'N1']
N1_fr = N1_fr[['road','lrp','lat','lon']]
N1_fr.head()
#N1_bridges_fr = N1_fr[(N1_fr.type == 'Bridge') | (N1_fr.type == 'Culvert')]
#N1_bridges_fr.head()

  road     lrp        lat        lon
0   N1    LRPS  23.706028  90.443333
1   N1   LRPSa  23.702917  90.450417
2   N1   LRPSb  23.702778  90.450472
3   N1  LRP001  23.702139  90.451972
4   N1  LRP002  23.697889  90.460583

In [9]:
bridges = pd.read_excel('BMMS_overview.xlsx')
N1_fb = bridges[bridges['road'] == 'N1']
N1_fb = N1_fb[['road','LRPName','length','condition','lat','lon']]
N1_fb.columns = ['road','lrp','length','condition','lat','lon']
N1_fb.head()

  road      lrp  length condition        lat        lon
0   N1  LRP001a   11.30         A  23.698739  90.458861
1   N1  LRP004b    6.60         A  23.694664  90.487775
2   N1  LRP008b  394.23         A  23.705060  90.523214
3   N1  LRP010b    6.30         A  23.694391  90.537574
4   N1  LRP010c    6.30         A  23.694302  90.537707

In [17]:
N1 = N1_fr.append(N1_fb, sort = False)
N1.sort_values(by = ['lrp'])
#N1.head(50)
N1.index([N1['lrp'] == "LRP001a"])

TypeError: 'Int64Index' object is not callable