In [1]:
## Data Preparation File
import pandas as pd

In [5]:
roads = pd.read_csv('_roads3.csv')
N1 = roads[roads['road'] == 'N1']
N1_bridges = N1[(N1.type == 'Bridge') | (N1.type == 'Culvert')]
N1_bridges.head()

   road  chainage      lrp        lat        lon  gap     type            name
1    N1     0.814    LRPSa  23.702917  90.450417  NaN  Culvert     Box Culvert
5    N1     2.130  LRP002a  23.697361  90.461667  NaN  Culvert     Box culvert
14   N1     8.011  LRP008a  23.702111  90.515778   BS   Bridge  Kachpur bridge
15   N1     8.429  LRP008b  23.704583  90.518833   BE   Bridge      Bridge end
19   N1     9.615  LRP010a  23.701528  90.528194  NaN  Culvert     Box culvert

In [6]:
bridges = pd.read_excel('BMMS_overview.xlsx')
N1b = bridges[bridges['road'] == 'N1']
N1_bridges.head()

   road  chainage      lrp        lat        lon  gap     type            name
1    N1     0.814    LRPSa  23.702917  90.450417  NaN  Culvert     Box Culvert
5    N1     2.130  LRP002a  23.697361  90.461667  NaN  Culvert     Box culvert
14   N1     8.011  LRP008a  23.702111  90.515778   BS   Bridge  Kachpur bridge
15   N1     8.429  LRP008b  23.704583  90.518833   BE   Bridge      Bridge end
19   N1     9.615  LRP010a  23.701528  90.528194  NaN  Culvert     Box culvert