In [13]:
#STEP 1: Import packages
import datetime
#import mysql.connector # try this first for option 1
import pandas as pd
import sqlalchemy as sq
#import pymysql.cursors # only try this after running the "python -m pip install PyMySQL" for option 2

In [5]:
### ALEXANDERS CODE, NOT USED ANYMORE BECAUSE OF SQALCHEMY PACKAGE

## SQL.connector Option 1
# cnx = mysql.connector.connect(user='epa1351g14', password='xgt65RR##', database='epa1351group14')
# cursor = cnx.cursor()
# query = ("SELECT RowID, EntityName, EntityTimeCreated, EntityID from testreadwrite")
# cursor.execute(query)
# for (RowID, EntityName, EntityTimeCreated, EntityID) in cursor:
  #  print("{} {} {:%d %b %Y} {}".format(RowID, EntityName, EntityTimeCreated, EntityID))

## PyMySQL Option 2
# cnx = pymysql.connect(user='epa1351g14', password='xgt65RR##', database='epa1351group14')
# cursor = cnx.cursor()
# query = ("SELECT RowID, EntityName, EntityTimeCreated, EntityID from testreadwrite")
# cursor.execute(query)
# for (RowID, EntityName, EntityTimeCreated, EntityID) in cursor:
#     print("{} {} {:%d %b %Y} {}".format(RowID, EntityName, EntityTimeCreated, EntityID))

In [26]:
#Setting up the engine to get right table out SQL:
#dialect+driver://username:password@host:port/database

def read_from_sql():
    #Engine for option 1
    #engine = sq.create_engine('mysql+mysqlconnector://epa1351g14:xgt65RR##@localhost/epa1351group14')
    
    #Engine for option 2
    engine = sq.create_engine('mysql+pymysql://epa1351g14:xgt65RR##@localhost/epa1351group14')
    sql_table = pd.read_sql_table('testreadwrite', engine)
    return sql_table

In [29]:
sql_table = pd.read_sql_table('testreadwrite', engine)
sql_table.head()

,RowID,EntityName,EntityTimeCreated,EntityID,TimeNow,TimeNowStr
0,1,DefaultEntity.11,2012-10-29 00:00:00,11,0.005097,2012-10-29 00:00:18
1,2,DefaultEntity.12,2012-10-29 00:00:23,12,0.011470,2012-10-29 00:00:41
2,3,DefaultEntity.13,2012-10-29 00:00:27,13,0.014640,2012-10-29 00:00:52
3,4,DefaultEntity.14,2012-10-29 00:00:34,14,0.019112,2012-10-29 00:01:08
4,5,DefaultEntity.15,2012-10-29 00:00:40,15,0.021404,2012-10-29 00:01:17

In [18]:
def read_last_hour(sql_table):
    prev_hour = 0
    curr_hour = 0
    while curr_hour > prev_hour:
        new_data = sql_table[TimeNow > prev_hour & Time_Now < curr_hour]
    else:
        continue
    #something about reading the last hour of data here
    #update a df with the latest data, called new_data
    return new_data

In [19]:
def make_plots(new_data):
    x == 1
    #something about plotting the last hour of data here

In [20]:
## Set up stop and read conditions
stop_time = 1440 # 1440 minutes - if simulation is 24 hours
read_time = 60 # to read last hour of data

In [ ]:
def run_it():
    read_from_sql()
    while sql_table["TimeNow"] < stop_time:
        read_last_hour()
        make_plots()