In [1]:
#STEP 1: Import packages
import datetime
import time
import pandas as pd
import sqlalchemy as sq
#import mySQL option 1
import mysql.connector
#import mySQL option 2
#import pymysql.cursors 
#only try this after running the "python -m pip install PyMySQL"

In [24]:
#STEP 2: Setting up the engine to link to the SQL Database

#Engine for option 1
engine = sq.create_engine('mysql+mysqlconnector://epa1351g14:xgt65RR##@localhost/epa1351group14')
#Engine for option 2
#engine = sq.create_engine('mysql+pymysql://epa1351g14:xgt65RR##@localhost/epa1351group14')

#dialect+driver://username:password@host:port/database

In [40]:
def read_from_sql():
    global segmenttraveltimes
    global brokenbridges
    
    segmenttraveltimes = pd.read_sql_table('segmenttraveltimes', engine)
    brokenbridges = pd.read_sql_table('brokenbridges', engine)
    
    return segmenttraveltimes, brokenbridges

In [50]:
def wait_for_sql():
    last_rowid = -1
    while True:
#cnx for option 1
        cnx = mysql.connector.connect(user='epa1351g14', password='xgt65RR##', database='epa1351group14')
#cnx for option 2
        #cnx = pymysql.connect(user='epa1351g14', password='xgt65RR##', database='epa1351group14')
        cursor = cnx.cursor()

#selecting the latest row in hourlyupdate table
        query = ("SELECT * from hourlyupdate ORDER BY RowID1 DESC LIMIT 1")
        cursor.execute(query)
#for loop searching for a new row in the hourlyupdate table        
        for (RowID1, SimioHour) in cursor:
            if RowID1 > last_rowid:
                #readotherdata
                read_from_sql()
                #make_plots()
                print("Last ROWID1:",RowID1,'SimioHour is:',SimioHour)
                last_rowid = RowID1
        time.sleep(1)

In [51]:
wait_for_sql()

Last ROWID1: 5 SimioHour is: 60.0
Last ROWID1: 6 SimioHour is: 50.0

KeyboardInterrupt:

In [52]:
segmenttraveltimes

   RowID2 LRPName VehicleType  SegTime
0       1       1       Truck     20.0
1       2       2         Car     45.0
2       3       3       Truck     40.0

In [24]:
def make_plots(segmenttraveltimes, brokenbridges):
    x == 1
    return x
    # make the plots here