In [18]:
#STEP 1: Import packages
import datetime
import time
#import mysql.connector # try this first for option 1
import pandas as pd
import sqlalchemy as sq
import pymysql.cursors # only try this after running the "python -m pip install PyMySQL" for option 2

In [19]:
#STEP 2: Create Engine
#Engine for option 1
#engine = sq.create_engine('mysql+mysqlconnector://epa1351g14:xgt65RR##@localhost/epa1351group14')

#Engine for option 2
#engine = sq.create_engine('mysql+pymysql://epa1351g14:xgt65RR##@localhost/epa1351group14')

In [20]:
### ALEXANDERS CODE, NOT USED ANYMORE BECAUSE OF SQALCHEMY PACKAGE

## SQL.connector Option 1
# cnx = mysql.connector.connect(user='epa1351g14', password='xgt65RR##', database='epa1351group14')
# cursor = cnx.cursor()
# query = ("SELECT RowID, EntityName, EntityTimeCreated, EntityID from testreadwrite")
# cursor.execute(query)
# for (RowID, EntityName, EntityTimeCreated, EntityID) in cursor:
  #  print("{} {} {:%d %b %Y} {}".format(RowID, EntityName, EntityTimeCreated, EntityID))

# PyMySQL Option 2
#query = ("SELECT RowID, EntityName, EntityTimeCreated, EntityID from testreadwrite")
#cursor.execute(query)
#for (RowID, EntityName, EntityTimeCreated, EntityID) in cursor:
#    print("{} {} {:%d %b %Y} {}".format(RowID, EntityName, EntityTimeCreated, EntityID))

In [35]:
def wait_for_sql():
    last_rowid = -1
    while True:
        cnx = pymysql.connect(user='epa1351g14', password='xgt65RR##', database='epa1351group14')
        cursor = cnx.cursor()
        
        query = ("SELECT * from hourlyupdate ORDER BY RowID1 DESC LIMIT 1")
        cursor.execute(query)
        print("byepoop")
        for (RowID1, SimioHour) in cursor:
            print(RowID1, SimioHour)
            if RowID1 > last_rowid:
                #readotherdata
                #read_from_sql()
                #plotit
                #make_plots()
                print("hipoop")
                last_rowid = RowID1
        time.sleep(1)

In [22]:
#sql_table = pd.read_sql_table('hourlyupdate', engine)
#sql_table.head()

In [23]:
def read_from_sql():
    #CHECK THIS
    #segmenttraveltimes = pd.read_sql_table('segmenttraveltimes', engine)
    query = ("SELECT * from segmenttraveltimes ORDER BY RowID2")
    cursor.execute(query)
    for (RowID2, LRPName, VehicleType, SegTime) in cursor:
        #blabla
    
    #CHECK THIS
    #brokenbridges = pd.read_sql_table('brokenbridges', engine)
    query = ("SELECT * from brokenbridges ORDER BY RowID3")
    cursor.execute(query)
    for (RowID3, BridgeID, TimeBroken) in cursor:
        #blabla
    
    return segmenttraveltimes, brokenbridges

In [24]:
def make_plots(segmenttraveltimes, brokenbridges):
    x == 1
    return x
    # make the plots here

In [36]:
wait_for_sql()

byepoop
4 12.0
hipoop
byepoop
4 12.0
byepoop
4 12.0
byepoop
4 12.0
byepoop
4 12.0
byepoop
4 12.0
byepoop
4 12.0
byepoop
4 12.0
byepoop
4 12.0
byepoop
4 12.0
byepoop
4 12.0
byepoop
4 12.0
byepoop
4 12.0
byepoop
5 1337.0
hipoop
byepoop
5 1337.0
byepoop
5 1337.0
byepoop
5 1337.0
byepoop
5 1337.0
byepoop
5 1337.0
byepoop
5 1337.0
byepoop
5 1337.0
byepoop
5 1337.0
byepoop
5 1337.0
byepoop
5 1337.0
byepoop
5 1337.0
byepoop
5 1337.0
byepoop
5 1337.0
byepoop
5 1337.0
byepoop
5 1337.0

KeyboardInterrupt: