In [1]:
#STEP 1: Import packages
import datetime
import mysql.connector # try this first for option 1
import pandas as pd
import sqlalchemy as sq
#import pymysql.cursors # only try this after running the "python -m pip install PyMySQL" for option 2

In [ ]:
### ALEXANDERS CODE, NOT USED ANYMORE BECAUSE OF SQALCHEMY PACKAGE

## SQL.connector Option 1
#cnx = mysql.connector.connect(user='epa1351g14', password='xgt65RR##', database='epa1351group14')
#cursor = cnx.cursor()
#query = ("SELECT RowID, EntityName, EntityTimeCreated, EntityID from testreadwrite")
#cursor.execute(query)
#for (RowID, EntityName, EntityTimeCreated, EntityID) in cursor:
  #  print("{} {} {:%d %b %Y} {}".format(RowID, EntityName, EntityTimeCreated, EntityID))

## PyMySQL Option 2
# cnx = pymysql.connect(user='epa1351g14', password='xgt65RR##', database='epa1351group14')
# cursor = cnx.cursor()
# query = ("SELECT RowID, EntityName, EntityTimeCreated, EntityID from testreadwrite")
# cursor.execute(query)
# for (RowID, EntityName, EntityTimeCreated, EntityID) in cursor:
#     print("{} {} {:%d %b %Y} {}".format(RowID, EntityName, EntityTimeCreated, EntityID))

In [2]:
sql_table = 'testreadwrite'
#Setting up the engine to get right table out SQL:
#dialect+driver://username:password@host:port/database
#Engine for option 1
engine = sq.create_engine('mysql+mysqlconnector://epa1351g14:xgt65RR##@localhost/epa1351group14')
#Engine for option 2
#engine = sq.create_engine('mysql+pymysql://epa1351g14:xgt65RR##@localhost/epa1351group14')

df = pd.read_sql_table(sql_table, engine)
df.head()

,RowID,EntityName,EntityTimeCreated,EntityID,TimeNow,TimeNowStr
0,1,DefaultEntity.11,2012-10-29 00:00:00,11,0.005097,2012-10-29 00:00:18
1,2,DefaultEntity.12,2012-10-29 00:00:23,12,0.011470,2012-10-29 00:00:41
2,3,DefaultEntity.13,2012-10-29 00:00:27,13,0.014640,2012-10-29 00:00:52
3,4,DefaultEntity.14,2012-10-29 00:00:34,14,0.019112,2012-10-29 00:01:08
4,5,DefaultEntity.15,2012-10-29 00:00:40,15,0.021404,2012-10-29 00:01:17

In [18]:
def df_last_hour(df):
    simulation_hours = 4
    n=0

    while n < simulation_hours:
        df_visual = df[df.TimeNow > n]
        df_visual2 = df_visual[df_visual.TimeNow < n+1]
        n = n+1
    return df_visual2

In [19]:
df_last_hour(df)

,RowID,EntityName,EntityTimeCreated,EntityID,TimeNow,TimeNowStr
730,731,DefaultEntity.741,2012-10-29 02:59:17,741,3.001253,2012-10-29 03:00:04
731,732,DefaultEntity.742,2012-10-29 02:59:54,742,3.004635,2012-10-29 03:00:16
732,733,DefaultEntity.743,2012-10-29 03:01:27,743,3.029002,2012-10-29 03:01:44
733,734,DefaultEntity.744,2012-10-29 03:01:33,744,3.032682,2012-10-29 03:01:57
734,735,DefaultEntity.745,2012-10-29 03:01:35,745,3.036421,2012-10-29 03:02:11
735,736,DefaultEntity.746,2012-10-29 03:01:45,746,3.040891,2012-10-29 03:02:27
736,737,DefaultEntity.747,2012-10-29 03:02:02,747,3.044215,2012-10-29 03:02:39
737,738,DefaultEntity.748,2012-10-29 03:02:21,748,3.047875,2012-10-29 03:02:52
738,739,DefaultEntity.749,2012-10-29 03:02:36,749,3.050591,2012-10-29 03:03:02
739,740,DefaultEntity.750,2012-10-29 03:02:38,750,3.054252,2012-10-29 03:03:15
740,741,DefaultEntity.751,2012-10-29 03:02:41,751,3.057148,2012-10-29 03:03:25
741,742,DefaultEntity.752,2012-10-29 03:03:36,752,3.065220,2012-10-29 03:03:54
742,743,DefaultEntity.753,2012-10-29 03:03:40,753,3.067723,2012-10-29 03:04:03
743,744,DefaultEntity.754,2012-10-29 03:03:50,754,3.071764,2012-10-29 03:04:18
744,745,DefaultEntity.755,2012-10-29 03:04:29,755,3.079505,2012-10-29 03:04:46
745,746,DefaultEntity.756,2012-10-29 03:04:34,756,3.082985,2012-10-29 03:04:58
746,747,DefaultEntity.757,2012-10-29 03:04:35,757,3.085934,2012-10-29 03:05:09
747,748,DefaultEntity.758,2012-10-29 03:04:44,758,3.089536,2012-10-29 03:05:22
748,749,DefaultEntity.759,2012-10-29 03:04:50,759,3.093185,2012-10-29 03:05:35
749,750,DefaultEntity.760,2012-10-29 03:04:54,760,3.097098,2012-10-29 03:05:49
750,751,DefaultEntity.761,2012-10-29 03:04:55,761,3.099366,2012-10-29 03:05:57
751,752,DefaultEntity.762,2012-10-29 03:04:55,762,3.101998,2012-10-29 03:06:07
752,753,DefaultEntity.763,2012-10-29 03:05:18,763,3.105258,2012-10-29 03:06:18
753,754,DefaultEntity.764,2012-10-29 03:06:06,764,3.109546,2012-10-29 03:06:34
754,755,DefaultEntity.765,2012-10-29 03:06:30,765,3.113001,2012-10-29 03:06:46
755,756,DefaultEntity.766,2012-10-29 03:06:33,766,3.116720,2012-10-29 03:07:00
756,757,DefaultEntity.767,2012-10-29 03:07:27,767,3.129904,2012-10-29 03:07:47
757,758,DefaultEntity.768,2012-10-29 03:07:29,768,3.134257,2012-10-29 03:08:03
758,759,DefaultEntity.769,2012-10-29 03:07:42,769,3.137199,2012-10-29 03:08:13
759,760,DefaultEntity.770,2012-10-29 03:07:52,770,3.139982,2012-10-29 03:08:23
...,...,...,...,...,...,...
938,939,DefaultEntity.949,2012-10-29 03:51:56,949,3.874576,2012-10-29 03:52:28
939,940,DefaultEntity.950,2012-10-29 03:52:01,950,3.877369,2012-10-29 03:52:38
940,941,DefaultEntity.951,2012-10-29 03:52:24,951,3.880872,2012-10-29 03:52:51
941,942,DefaultEntity.952,2012-10-29 03:52:56,952,3.887085,2012-10-29 03:53:13
942,943,DefaultEntity.953,2012-10-29 03:52:56,953,3.891552,2012-10-29 03:53:29
943,944,DefaultEntity.954,2012-10-29 03:52:57,954,3.894249,2012-10-29 03:53:39
944,945,DefaultEntity.955,2012-10-29 03:53:08,955,3.898038,2012-10-29 03:53:52
945,946,DefaultEntity.956,2012-10-29 03:53:10,956,3.902301,2012-10-29 03:54:08
946,947,DefaultEntity.957,2012-10-29 03:53:11,957,3.905961,2012-10-29 03:54:21
947,948,DefaultEntity.958,2012-10-29 03:54:07,958,3.908814,2012-10-29 03:54:31
948,949,DefaultEntity.959,2012-10-29 03:54:07,959,3.912207,2012-10-29 03:54:43
949,950,DefaultEntity.960,2012-10-29 03:54:14,960,3.914223,2012-10-29 03:54:51
950,951,DefaultEntity.961,2012-10-29 03:55:06,961,3.923201,2012-10-29 03:55:23
951,952,DefaultEntity.962,2012-10-29 03:55:18,962,3.926402,2012-10-29 03:55:35
952,953,DefaultEntity.963,2012-10-29 03:55:26,963,3.930005,2012-10-29 03:55:48
953,954,DefaultEntity.964,2012-10-29 03:55:34,964,3.933536,2012-10-29 03:56:00
954,955,DefaultEntity.965,2012-10-29 03:55:36,965,3.936076,2012-10-29 03:56:09
955,956,DefaultEntity.966,2012-10-29 03:55:44,966,3.940450,2012-10-29 03:56:25
956,957,DefaultEntity.967,2012-10-29 03:56:01,967,3.943759,2012-10-29 03:56:37
957,958,DefaultEntity.968,2012-10-29 03:56:14,968,3.946181,2012-10-29 03:56:46
958,959,DefaultEntity.969,2012-10-29 03:56:24,969,3.948590,2012-10-29 03:56:54
959,960,DefaultEntity.970,2012-10-29 03:56:32,970,3.951538,2012-10-29 03:57:05
960,961,DefaultEntity.971,2012-10-29 03:56:33,971,3.954469,2012-10-29 03:57:16
961,962,DefaultEntity.972,2012-10-29 03:56:59,972,3.958301,2012-10-29 03:57:29
962,963,DefaultEntity.973,2012-10-29 03:57:07,973,3.960797,2012-10-29 03:57:38
963,964,DefaultEntity.974,2012-10-29 03:57:10,974,3.963773,2012-10-29 03:57:49
964,965,DefaultEntity.975,2012-10-29 03:57:29,975,3.965722,2012-10-29 03:57:56
965,966,DefaultEntity.976,2012-10-29 03:57:36,976,3.969298,2012-10-29 03:58:09
966,967,DefaultEntity.977,2012-10-29 03:58:49,977,3.984391,2012-10-29 03:59:03
967,968,DefaultEntity.978,2012-10-29 03:58:54,978,3.987413,2012-10-29 03:59:14